@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #0284c5;
    --color-success: #10B981;
    --color-background-light: #f1f5f9;
    --color-background-dark: #0f1c23;

    --font-display: "Inter", sans-serif;

    --radius-lg: 10px;
    --radius-xl: 0.75rem;
}

@layer base {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        vertical-align: middle;
    }

    body {
        @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 antialiased;
    }

    input::placeholder,
    textarea::placeholder {
        @apply text-slate-400 dark:text-slate-500 opacity-100;
    }
}

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 10px;
    }
}